header{
    border-bottom-right-radius: 31px;
    width: 100%;
    background-color: gradient;
    /* background-color: #3e3152;  */
    background: linear-gradient(1deg, #5fa59c, #8eb32a00);
    /* position:fixed; */
    border-radius: 10px;
}
.headerBlock{
    display: flex;
    min-width: 100%;
margin-bottom: 8px;
}
.container1{
    display: flex;
    /* min-width: 68%; */
    flex-basis: 75%;
}
.logoHeader {
    width: 10%;
}
.logoHeader a{
    display: block;
    height: 60px; 
    
}
.logoHeader img {
    margin-left: 11px;
    margin-top: 7px;
    max-width: 59%;
    size: 20px;
    width: 50px;
    height: 45px;
}
/* img{
} */
nav.navBar {
    width: 70%;
    margin: 6px -5px 6px 4px;
}
.navUl {
    display: flex;
    list-style: none;
    margin-top: 9px;
    margin-left: -12px;
    /* justify-content: space-evenly; */
}
/* .navUl li {
    margin: 12px;
} */
.navUl li{
    margin-left: 26px;
}
.navUl li a{
     text-decoration: none;
     color: white;
     font-weight: bolder;
     font-size: 22px;
    }
    .navUl li a:hover {
    background-color: #fdfdfd;
    color: black;
    padding: 3px;
    border-radius: 10px;
    transition: 0.3s;
    
}
/*For search and login/Up*/
.container2{
    display: inline-flex;
    /* min-width: 30%; */
    flex-direction: column-reverse;
    flex-basis: 30%;
}
/* LoginUp Buttons */
.btnContainer {
    /* height: 37px; */
    display: flex;
    align-items: center;
    /* margin: auto; */
    flex-direction: row-reverse;
    /* margin-bottom: 12px; */
    flex-basis: 100%;
}

.btn{
    margin: 6px;
    padding: 10px 20px;
    background-color: #f8f9fc;
    color: #121111;
    font-family: Poppins, sans-serif;
    border: none;
    border-radius: 12px;
    /* width: 23%; */
    min-width: 29%;
    height: 38px;
}

.btn:hover{
    
    background-color: #76b2f7;
    
    color: #ffffff;
    cursor: pointer;
    border: wheat;
    transition: 0.35s;
}

